{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>



<div class="row">
    <div class="col-md-4">
        <div class="p1">
        <div class="card" style="width: 28rem; background-color: lightgrey;">
            <div class="card-body">
                <div class="p2">
                <h4 class="card-title">  <strong>Emilian Haugland</strong></h4>
                <p class="card-text"><strong>Telefon:</strong> {{telEH}}</p>
                <address>
                    <strong>Mail:</strong> <a href="mailto:emilian.haugland05@gmail.com">{{mailEH}}</a>
                </address>
            </div>
        </div>
        </div>
    </div>
 </div>
    <div class="col-md-4">
        <div class="p1">
        <div class="card" style="width: 28rem; background-color: lightgrey;">
            <div class="card-body">
                <div class="p2">
                    <h4 class="card-title"> <strong>Mari Kallevik</strong></h4>
                    <p class="card-text"><strong>Telefon:</strong> {{telMK}}</p>
                    <address>
                        <strong>Mail:</strong> <a href="mailto:marikallevik@gmail.com">{{mailMK}}</a>
                    </address>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
