{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>



<div class="row">
    {% for person in persons %}
    <div class="col-md-4">
        <div class="p1">

            <div class="card" style="width: 28rem; background-color: lightgrey;">
                <div class="card-body">
                    <div class="p2">
                        <h4 class="card-title">  <strong>{{person.fullname}}</strong></h4>
                        <p class="card-text"><strong>Telefon:</strong> {{person.phone}}</p>
                        <address>
                            <strong>Mail:</strong> <a href="mailto:{{person.mail}}">{{person.mail}}</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}

