{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search For Games</h2>
        <form action="">
            <input type="text" name="search" placeholder="Search by title" value="{{login.html}}">
            <p>
                <a class="btn btn-primary" onclick="alert('Jobber med det :)');">S&oslash;k </a>
            </p>
        </form>
    </div>

</div>


<div class="row">
    <div class="col-md-4">
        <h2>Cyberpunk 2077</h2>
        <img style="height: 400px; width: 250px;" src="https://cdn.akamai.steamstatic.com/steam/apps/1091500/header.jpg?t=1663663573" />
                <p>
                     Orginal Pris NOK 599 KR
                </p>
                <p>
                     N&aring; pris NOK 399 KR
                </p>    
        <p><a class="btn btn-primary" href="https://store.steampowered.com/app/1091500"> Kj&oslash;p n&aring; &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Modern Warfare II</h2>
             <img style="height: 400px; width: 250px;" src="https://cdn.akamai.steamstatic.com/steam/apps/1938090/header.jpg?t=1666987393" />
                 <p>
                    Orginal Pris NOK 599 KR 
                </p>
                 <p>
                    N&aring; pris NOK 399 KR
                </p>
        <p><a  class="btn btn-primary" href="https://store.steampowered.com/app/1938090"> Kj&oslash;p n&aring; &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Eternal Evil</h2>
        <img style="height: 400px; width: 250px;" src="https://cdn.akamai.steamstatic.com/steam/apps/1673630/header.jpg?t=1667316517" />
        <p>
            Orginal pris NOK 145 KR
        </p>
        <p>
            N&aring; pris NOK 120,65 KR
        </p>
        <p><a class="btn btn-primary" href="https://store.steampowered.com/app/1673630">Kj&oslash;p n&aring; &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Far Cry 3</h2>
        <img style="height: 400px; width: 250px;" src="https://cdn.akamai.steamstatic.com/steam/apps/220240/header.jpg?t=1667245145" />
        <p>
            Orginal pris NOK 199 KR
        </p>
        <p>
            N&aring; pris NOK 145 KR
        </p>
        <p><a class="btn btn-primary" href="https://store.steampowered.com/app/220240">Kj&oslash;p n&aring; &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Phasmophobia</h2>
        <img style="height: 400px; width: 250px;" src="https://cdn.akamai.steamstatic.com/steam/apps/739630/header.jpg?t=1663254578" />
        <p>
            Orginal pris NOK 99 KR
        </p>
        <p>
            N&aring; pris NOK 75 KR
        </p>
        <p><a class="btn btn-primary" href="https://store.steampowered.com/app/739630">Kj&oslash;p n&aring; &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Entropy Centre</h2>
        <img style="height: 400px; width: 250px;" src="https://cdn.akamai.steamstatic.com/steam/apps/1730590/header.jpg?t=1667462658" />
        <p>
            Orginal pris NOK 280 KR
        </p>
        <p>
            N&aring; pris NOK 252 KR
        </p>
        <p><a class="btn btn-primary" href="https://store.steampowered.com/app/1730590">Kj&oslash;p n&aring; &raquo;</a></p>
    </div>
</div>

{% endblock %}
